<!--main-form-box-->
<div class="main-form-box cnt-section">
	<div class="inner-wrap">
		<div class="form-outer-wrap">
			<div class="form-title-wrap">
				<div class="form-title">Оформите подписку</div>
				<p>А также стремящиеся вытеснить традиционное производство, нанотехнологии неоднозначны и будут ассоциативно распределены по.</p>
			</div>
			<div class="form-wrap">
				<div class="form-section-wrap">
					<div class="form-price-wrap">
						<div class="form-price-title"><b>Стоимость подписки</b> в&nbsp;месяц</div>
						<div class="form-price-value">
							<div class="elm-price"><span class="link-main">399</span> ₽ </div>
						</div>
					</div>
					<div class="form-action-wrap">
						<a href="" class="btn">ПОдписаться</a>
					</div>
				</div>
				<div class="form-section-wrap">
					<div class="form-price-wrap">
						<div class="form-price-title"><b>Стоимость подписки</b> на&nbsp;12&nbsp;месяцев</div>
						<div class="form-price-value">
							<div class="elm-price"><span class="link-main">3999</span> ₽ </div>
						</div>
					</div>
					<div class="form-action-wrap">
						<a href="" class="btn button-second">ПОдписаться</a>
					</div>
				</div>
			</div>
			<img src="./img/main/bee01.png" alt="" class="img-decor img-decor01">
			<img src="./img/main/elephant01.png" alt="" class="img-decor img-decor02">
			<img src="./img/main/bear01.png" alt="" class="img-decor img-decor03">
			<img src="./img/main/cloud.png" alt="" class="img-decor img-decor04">
			<img src="./img/main/cloud.png" alt="" class="img-decor img-decor05">
		</div>
	</div>
</div><!--/main-form-box-->