
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-main-panel">
			<div class="footer-info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.svg" alt="">
					</a>
					<div class="logo-text">Социальная программа обучения для детей 8-го вида до 7 лет</div>
				</div>
				<div class="contacts-wrap">
					<p>По всем вопросам обращайтесь на <a href="mailto:info@info.ru"><b>info@info.ru</b></a></p>
					<p>или по телефону: <a href="tel:81111231212" class="link-phone"><b>+7 (111) 123 12 12</b></a></p>
				</div>
				<div class="buttons-wrap">
					<div class="button-wrap">
						<a href="" class="btn-action-app">
							<img src="./img/icons/button-gp.svg" alt="">
						</a>
					</div>
					<div class="button-wrap">
						<a href="" class="btn-action-app">
							<img src="./img/icons/button-as.svg" alt="">
						</a>
					</div>
					<div class="button-wrap">
						<a href="" class="btn-action-app">
							<img src="./img/icons/button-ag.svg" alt="">
						</a>
					</div>
					<div class="button-wrap">
						<a href="" class="btn-action-app">
							<img src="./img/icons/button-ms.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="footer-menu-wrap">
				<ul class="menu">
					<li>
						<div class="footer-title">О нас</div>
						<ul>
							<li><a href="">Программы</a></li>
							<li><a href="">О нас</a></li>
							<li><a href="">Разработчики программы</a></li>
							<li><a href="">Форум</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</li>
					<li>
						<div class="footer-title">Благотворителям</div>
						<ul>
							<li><a href="">Частным жертвователям</a></li>
							<li><a href="">Бизнесу</a></li>
						</ul>
					</li>
					<li>
						<div class="footer-title">Мы в соцсетях</div>
						<ul>
							<li><a href="">Instagram</a></li>
							<li><a href="">Youtube</a></li>
							<li><a href="">Facebook</a></li>
							<li><a href="">Odnoklassniki</a></li>
							<li><a href="">Vkontakte</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-info-panel">
			<div class="footer-info">Политика конфиденциальности</div>
			<div class="footer-info">Публичная оферта о заключении договора благотворительного пожертвования</div>
		</div>
		<div class="footer-info-panel">
			<div class="footer-info text-att">2022 © 8й вид. Все права защищены</div>
			<div class="footer-info">При поддержке компании <a href=""><b>Вебуспех</b></a></div>
		</div>
	</div>
</footer>
<!-- /footer -->