
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="header-top-panel">
			<div class="actions-wrap">
				<div class="action-wrap action-question">
					<a href="" class="btn-action-ico ico-question"></a>
				</div>
				<div class="action-wrap action-solution">
					<a href="" class="btn-action-ico ico-solution"></a>
				</div>
				<div class="action-wrap action-number">
					<a href="" class="btn-action-ico ico-number"></a>
				</div>
				<div class="action-wrap action-user">
					<a href="" class="btn-action-ico ico-user"></a>
				</div>
			</div>
			<div class="site-menu-wrap">
				<ul class="menu">
					<li><a href="">Идея</a></li>
					<li><a href="">Развитие</a></li>
					<li><a href="">Знание</a></li>
					<li><a href="">Возможности</a></li>
					<li><a href="">Шанс</a></li>
					<li><a href="">Будущее</a></li>
					<li><a href="">Свет</a></li>
					<li><a href="">Счастье</a></li>
				</ul>
			</div>
		</div>
		<div class="header-main-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
				<div class="logo-text">Социальная программа обучения для детей 8-го вида до 7 лет</div>
			</div>
			<div class="actions-wrap">
				<div class="action-wrap">
					<a href="">Зарегистрироваться</a>
				</div>
				<div class="action-wrap">
					<a href="">Войти в личный кабинет</a>
				</div>
			</div>
		</div>
		<div class="header-nav-panel main-popup-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-popup-menu btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li><a href="">Программы</a></li>
					<li><a href="" class="active">О нас</a></li>
					<li><a href="">Разработчики программы</a></li>
					<li><a href="">Форум</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</div>
		<img src="./img/main/cloud.png" alt="" class="img-decor img-decor01">
		<img src="./img/main/cloud.png" alt="" class="img-decor img-decor02">
	</div>
</header>
<!-- /header -->