
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="header-main-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
				<div class="logo-text">Социальная программа обучения для детей 8-го вида до 7 лет</div>
			</div>
			<div class="header-button-wrap">
				<a href="" class="btn button-header">ПОдписаться на программу</a>
			</div>
		</div>
		<div class="header-nav-panel main-popup-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-popup-menu btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li><a href="">Программы</a></li>
					<li><a href="">О нас</a></li>
					<li><a href="">Разработчики программы</a></li>
					<li>
						<a href="" class="active">Форум</a>
						<ul>
							<li><a href="">New posts</a></li>
						</ul>
					</li>
					<li><a href="">Контакты</a></li>
				</ul>
				<div class="menu-button">
					<a href="" class="btn button-header">ПОдписаться на программу</a>
				</div>
			</div>
		</div>
		<div class="header-subnav-panel">
			<ul class="menu">
				<li><a href="">New posts</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- /header -->